<% @playlists.each do |playlist| %>
    <div class="booyah-box col-10 offset-1">
      <h1><%= playlist.name %></h1>
      <i><%= playlist.link %></i><br /><br />
      <p><%= playlist.description %></p><br />
    </div>
  
  <% end %>