<% @playlists.each do |playlist| %>
    <div>
      <h1><%= playlist.name %></h1><br />
      <i><%= playlist.link %></i><br />
      <p><%= playlist.description %></p><br />
    </div>
  
    <hr />
  <% end %>